terratowns_endpoint="https://terratowns.cloud/api"
user_uuid="261d343e-fc46-4a88-b004-bb1a8a3dfe0e"
bucket_name="k8688fkgmqen08nv2qn57ksyou84wh4e"
pre_js_filepath="/workspace/terraform-beginner-bootcamp-2023/public/soul/pre.js"
random_js_filepath="/workspace/terraform-beginner-bootcamp-2023/public/soul/random.js"
infinity_js_filepath="/workspace/terraform-beginner-bootcamp-2023/public/soul/infinity.js"
content_version=4
soul = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/soul"
    content_version = 3
}
flags = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/flags"
  content_version = 2
}