* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
}

.loader {
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader img {
    height: 100vh;
    width: 100vw;

}

.disappear {
    animation: vanish 3s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


#volumeSlider {
    margin: 15px;
}

.divider {
    width: 70vw;
    margin-bottom: 18px;
    border-color: #D03C3D;
}

section {
    background-color: #F8E763;
    height: 100vh;
}

section h1 {
    padding: 5px;
    font-size: 40pt;
    color: #D03C3D;

}

section h2 {
    color: #5BBA47;
}

.towns-colour {
    color: #7B56A2;
}

section img {
    width: 65vw;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
        appearance: none;
        background-color: #5BBA47;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: #D03C3D;
        box-shadow: -80px 0 0 80px #7B56A2;
    }

}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #7B56A2;
}

input[type="range"]::-moz-range-track {
    background-color: #5BBA47;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #7B56A2;
}

input[type="range"]::-ms-fill-upper {
    background-color: #5BBA47;
}